@use "~bootstrap/scss/bootstrap" as *;

.introduction{
  margin-top: 40px;
  padding-left: 0;
	@media screen and (max-width: 992px) {
    margin-top: 20px;
    padding: 0 40px;
  }
}

.details{
  font-size: 13px;
  margin-top: 40px;
  @include media-breakpoint-down(xs){
    margin-top: 20px;
	}
}

.image-size{
  width: 100%;
}