<%= render 'layouts/frame', type: :narrow do %>
  <h4 class="text-center border-title">このサイトについて</h4>
  <p>
    　当サイトではSNS等のアイコンに使用するイラストを探し、ダウンロードすることができます。<br>
    　使用範囲は「アイコンへの使用」のみに限定しますが、作者が指定した範囲で使用することもできます。<br>
    　プライバシーポリシー、規約など。
  </p>
<% end %>