<div class="home-image">
  <div class=" home-image container" style="height: 300px;">
    <div class="row">
      <div class="col" style="position: relative">
        <%= image_tag 'home_text', size: '500x375', class: "home-text" %>
        <div id="slideshow" class="slideshow-images">
          <%= image_tag 'shibainu-normal', size: '200x150', class: "" %>
        </div>
      </div>
    </div>
  </div>
</div>