<div class="home-bg-image">
  <div class="container">
    <div>
      <%= image_tag 'home_text_image', class: "home-image" %>
    </div>
  </div>
</div>
<%= render 'layouts/frame', type: :standard do %>

<% end %>