// Bootstrap の Sass mixin を使えるようにするための記述
@use "~bootstrap/scss/bootstrap" as *;
@use "../global/variables" as *;

.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: fixed;
	right: 20vh;
	@include media-breakpoint-down(md){
    right: 10vh;
	}
	@include media-breakpoint-down(sm){
    right: 20px;
	}
	@include media-breakpoint-down(xs){
    right: 30px;
	}
	background: $theme-color;
	cursor: pointer;
  width: 50px;
  height: 50px;
// 	border-radius: 5px;
  z-index: 9999;
  border-radius: 50%;
  border-color: #0077b2;
}

/*ボタン内側*/
.openbtn span{
  display: inline-block;
  transition: all .3s;/*アニメーションの設定*/
  position: absolute;
  left: 14px;
    // border-radius: 2px;
	background: #fff;
	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
  height: 2px;
}

.openbtn span:nth-of-type(2) {
	top:23px;
  height: 1px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
  height: 1px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
  height: 2px;
}


// Nav-bar
#horizontal-nav{
  position: fixed;
  z-index: 999;
    /*ナビのスタート位置と形状*/
	top: 66px;
  right: -120%;
	width: 10%;
	@include media-breakpoint-down(md){
	    width: 15%;
	}
	@include media-breakpoint-down(sm){
	    width: 20%;
	}
	@include media-breakpoint-down(xs){
	    width: 100%;
	}
  height: 350px;/*ナビの高さ*/
	background: $main-color;
	transition: all 0.3s;
}

/*アクティブクラスがついたら位置を0に*/
#horizontal-nav.panelactive{
  top: 66px;
  right: 15vh;
  @include media-breakpoint-down(md){
    right: 7vh;
	}
	@include media-breakpoint-down(sm){
    right: 15px;
	}
  // border: 0.5px solid;
  border-color: $theme-color;
  border-radius: 5px;
  @extend .shadow-sm;
  @include media-breakpoint-down(xs){
    top: 56px;
    right: 0;
	}
}

/*ナビゲーションの縦スクロール*/
// #horizontal-nav.panelactive #horizontal-nav-list{
//     /*ナビの数が増えた場合縦スクロール*/
//     position: fixed;
//     z-index: 999; 
//     width: 100%;
//     height: 100vh;/*表示する高さ*/
//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
// }

/*ナビゲーション*/
#horizontal-nav ul {
    /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 7%;
  left: 10%;
  padding: 0;
  @include media-breakpoint-down(xs){
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

/*リストのレイアウト設定*/

#horizontal-nav li{
	list-style: none;
  text-align: start;
  @include media-breakpoint-down(xs){
      text-align: center;
  }
}

#horizontal-nav li a{
	color: $font-color;
	text-decoration: none;
	padding: 10px 0;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
// 	font-weight: bold;
}

.rounded-top{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}