@use "../global/variables" as *;

body{
  color: $font-color;
  font-family: $font-sans-serif;;
}

// Color
.theme-color{
  background-color: $theme-color;
}

.side-color{
  background-color: $side-color;
}

.main-color{
  background-color: $main-color;
}

.btn-primary{
  background-color: $theme-color;
}


// チェックボックスを消す
input[type="radio"] {
  display: none;
}

// ファイルボックスを消す
input[type="file"]{
  display: none;
}