@use "../global/variables" as *;
@use "~bootstrap/scss/bootstrap" as *;

body{
  color: $font-color;
  font-family: $font-sans-serif;;
}

// Color
.theme-color{
  background-color: $theme-color;
}

.side-color{
  background-color: $side-color;
}

.main-color{
  background-color: $main-color;
}

.btn-primary{
  background-color: $theme-color;
}


// チェックボックスを消す
input[type="radio"] {
  display: none;
}

// ファイルボックスを消す
input[type="file"]{
  display: none;
}

.home-image {
  background-image: url(/images/ichimatsu.png);
  background-size: contain;
  height: 300px;
  position: relative;
  border-bottom: 20px solid $theme-color;
}

.home-text{
  position: absolute;
  left: 10%;
  top: -60px;
}

.slideshow-images{
  position: absolute;
  // left: 45%;
  bottom: -5%;
	@include media-breakpoint-down(xl){
	    left: 40%;
	}
	@include media-breakpoint-down(lg){
	    left: 45%;
	}
	@include media-breakpoint-down(md){
	    left: 50%;
	}
	@include media-breakpoint-down(sm){
	    left: 60%;
	}
	@include media-breakpoint-down(xs){
	    left: 70%;
	}
}