@use "../global/variables" as *;

.session-border{
  margin-top: 10px;
  padding-top: 6px;
  border-top: 1px dashed;
  border-color: $gray;
}

.border-title{
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-color: $gray;
}

.type-narrow div{
  margin-top: 10px;
}