@use "../global/variables" as *;

.border-title{
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-color: $gray;
}

.type-narrow div{
  margin-top: 10px;
  position: relative;
}

.wrench{
  position: absolute;
  top: 75px;
  left: 85px;
}

.border-top-dashed{
  margin-top: 10px;
  padding-top: 6px;
  border-top: 1px dashed;
  border-color: $gray;
}

.border-bottom-dashed{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed;
  border-color: $gray;
}
