
// Font family
$font-sans-serif: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-serif: "Times New Roman", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// Color
$font-color: #546e7a;
$theme-color: #005b98;
$side-color: #f9fafb;
$main-color: white;
$gray: #999999;