<div class="container py-5 main-color">
  
  <%= render 'shared/user_club', admin: true, club: @club %>
  
  <div class="row">
    <div class="col">
      
      <ul class="tab-menu">
        <li><a href="#community" class="active">コミュニティ</a></li>
        <li><a href="#works">サークルの作品</a></li>
      </ul>
  
      <div class="tab-contents">
        
        <div id="community" class="tab2 area active">
          <div id="club-comments">
            <%= render 'public/club_comments/club_comment', club: @club, comments: @comments %>
          </div>
        </div>
        
        <div id="works" class="tab1 area">
          <%= render 'shared/works', works: @club_works, name: false, page: true %>
        </div>
        
      </div>
      
    </div>
  </div>
  
</div>
  