<%= render 'layouts/frame', type: :narrow do %>
  
  <h2 class="text-center border-title">本当に退会しますか？</h2>
  <p>
    退会するとユーザー情報及び投稿した作品が完全に削除されます。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <div class="d-flex-wrap border-top-dashed">
    <%= link_to '戻る', request.referer, class: "btn btn-outline-secondary" %>
    <%= link_to '退会する', user_path, method: :delete, data: {confirm: "本当に退会しますか？"}, class: "btn btn-danger ml-auto" %>
  </div>
  
<% end %>