<%= render 'layouts/frame' do %>
  <h2>マイページ</h2>
  
  <%= image_tag @user.get_image(200, 200) %>
  <p><%= @user.name %></p>
  <% if @user.id == current_user.id %>
    <%= link_to 'プロフィールを編集', edit_user_path %>
  <% end %>
<% end %>