<div class="row justify-content-center font-weight-bold" style="background-color: #b0ffc5; color: #005b0d">
  <%= flash[:notice] %>
</div>
<div class="row justify-content-center bg-danger text-light">
  <%= flash[:alert] %>
</div>