<div class="container-fluid">
  <div class="row font-weight-bold" style="background-color: #b0ffc5; color: #005b0d">
    <div class="col d-flex justify-content-center">
      <%= flash[:notice] %>
    </div>
  </div>
  <div class="row bg-danger text-light">
    <div class="col d-flex justify-content-center">
      <%= flash[:alert] %>
    </div>
  </div>
</div>
