<footer class="mt-4 theme-color" style="height: 100px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="text-white mt-3">©Iconize</p>
        <p><%= link_to '利用規約', homes_terms_path, class: "text-white" %> | <%= link_to 'プライバシーポリシー', homes_terms_path, class: "text-white" %></p>
      </div>
    </div>
  </div>
</footer>