<footer class="mt-4 theme-color" style="height: 100px;">
  <!--<div style="height: 10px; background-color: #f9bb02;"></div>-->
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 90px;">
      <p class="text-white font-formal">©Iconize</p>
    </div>
  </div>
</footer>