<header>
  <nav class="navbar navbar-expand-ex navbar-dark theme-color">
    <div class="container">
      
      <a class="navbar-brand mr-5" href="/">
        Iconize
      </a>
      
      <div class="mr-auto ml-search">
        <%= render 'layouts/search' %>
      </div>
      
      <button class="openbtn">
        <span></span><span></span><span></span>
      </button>
      
      
      <div id="horizontal-nav">
        <div class="theme-color rounded-top" style="height: 15px"></div>
          <ul>
            <%= render "layouts/navitems" %>
          </ul>
      </div>
      
    </div>
  </nav>
  
  <%= render "layouts/flash" %>
</header>