<% target_path = admin_signed_in? ? admin_search_path : search_path %>
<div class="search form-validation">
  <i class="fas fa-search"></i>
  <%= form_with url: target_path, method: :get, local: true do |f| %>
    <%= f.text_field :word, class: "add-validation" %>
  <% end %>
</div>